<div align="right">

<a href="?m=index&c=logout" title="注销">注销</a>
</div>
<div class="nav">
			<a href="?m=index&c=recomend" title="首页推荐信息" >首页推荐表</a>
			<a href="?m=index&c=feedback" title="用户反馈信息">用户反馈表</a>
			<a href="?m=index&c=stat" title="用户统计信息">用户统计表</a>
			<a href="?m=push&c=user" title="统计数据">用户列表</a>
			<a href="?m=push&c=send" title="手动发送push内容" >手动push</a>
			<a href="?m=push&c=history" title="发送历史记录">发送历史</a>
			
			<div style="clear:both"></div>
			
		</div><!-- end nav -->